@charset "UTF-8";
/* CSS Document */

/* Body tag i css bliver ofte brugt til fx at sætte en basic skrift format*/
body{
	margin:0px;
	color:#fff;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:15px;
	background-color:#333333;
	background-repeat:repeat;
	overflow-y:scroll;
	}
	
/* Sidens wrapper holder alt indholdet, og styrer placering, højre, venstre, midten*/
#wrapper{
	width:900px;
	height:auto;
	margin:0px auto 0 auto; /*top, right, bottom, left*/
	min-height:600px;
	}
	
/*Her starter Sidens top - header styles*/
.top{
	width:800px;
	height:80px;
	margin:30px 0 0 0; /*top, right, bottom, left*/
	}
	
/*Her starter Sidens top - header H1 tags styles*/	
/* ved at bestemme h1 tag som dette vil det kun være i top classen at den vil have denne funktion*/
/*resten af h1 tags vil være deafault uden for top classen med mindre andet er tilføjet*/
/*i de andre tags som fx i test-box classen*/
.top h1{ 
	font-size:50px;						 				
	line-height:80px;			
	text-indent:25px;
	display:block;
	width:42%;
	color:#fff;
	text-decoration:none;
	float:left;
	}

.top h2{
	font-family:Verdana, Geneva, sans-serif;
	font-style:italic;
	font-size:24px;
	display:block;
	text-decoration:none;
	float:left;
	line-height:50px;
	}

/*Her starter global links menu bar styles*/	
.top-menu{
	padding:0px 0px 0px 30px; /*top, right, bottom, left*/
	margin:0px 0px 0px 10px; /*top, right, bottom, left*/
	float:left;
	border-top-right-radius:15px;
	border-top-left-radius:15px;
	background-color:#009de0;
	width:786px;
	height:30px;
	float:left;
	position:relative;
	z-index:1;
	}		

/*Her starter mine ul il styles*/
#nav, #nav ul {
	padding:0px;
	margin: 0px;
	list-style: none;
	}

#nav a {
	line-height:30px;	
	color:#fff;
	text-decoration:none;
	display:block;
	float:left;
	margin: 0px 5px 0px 10px;/*top, right, bottom, left*/	
	}

#nav a:hover{
	line-height:30px;	
	color:#FC9;
	text-decoration:none;
	display:block;
	float:left;
	margin: 0px 5px 0px 10px;/*top, right, bottom, left*/
	}
	
#nav li {
	float: left;
	width:100px;
	}

#nav li ul {
	float: left;
	position: absolute;
	width:100px;
	left: -15984px;
	}

#nav li:hover ul {
	float:left;
	left: auto;
	background-color:#009de0;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	}


/* Sidens indhold - her artiklerne skal være*/
.content{
	margin:0px 0px 0px 10px; /*top, right, bottom, left*/
	float:left;
	width:800px;
	height:auto;
	min-height:200px;
	background-color:#333;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	border-style:solid;
	border-width:3px;
	border-color:#009de0;
	padding: 10px 0px 20px 10px; /*top, right, bottom, left*/
	box-shadow: 0px 10px 15px #000;	
	z-index:0;
	}
	
/*Her starter Txt-box = artikkel boxe styles*/
.txt-box{
	width:auto;
	height:auto;
	min-height:100px;
	margin:10px;
	float:left;
	border-radius:20px; 
	-moz-border-radius:20px; 
	-webkit-border-radius:20px; 
	border-right-width:2px;
	border-right-style:solid;
	border-right-color:#333;
	border-bottom-width:2px;
	border-bottom-style:solid;
	border-bottom-color:#333;
	}
	
/*Her starter overskrift styles i txt-box*/
.txt-box h1{
	width:300px;
	height:40px;
	float:left;
	color:#FFF;
	font-size:40px;
	margin:30px 0px 0px 20px; /*top, right, bottom, left*/
	}

.txt-box h2{
	width:300px;
	height:15px;
	float:left;
	margin:10px;
	color:#FFF;
	font-size:15px;
	margin-bottom:0px;
	}
	
/*Her starter paragraph styles i txt-box*/
.txt-box p{
	width:300px;
	height:auto;
	float:left;
	margin:10px;
	color:#FFF;
	}	

/*Her starter Textbox layout til galleri siderne*/	
.txt-box-white{
	width:750px;
	height:auto;
	min-height:300px;
	margin:15px 15px 0px 15px; /*top, right, bottom, left*/
	float:left;
	border-radius:20px; 
	-moz-border-radius:20px; 
	-webkit-border-radius:20px; 
	border-right-width:2px;
	border-right-style:solid;
	border-right-color:#333;
	border-bottom-width:2px;
	border-bottom-style:solid;
	border-bottom-color:#333;
	}

/*Headline tag styles*/	
.txt-box-white h2{
	width:300px;
	height:15px;
	float:left;
	margin:10px;
	color:#333;
	font-size:15px;
	margin-bottom:0px;
	}

/*Paragraph tag styles*/	
.txt-box-white p{
	float:left;
	margin:5px 10px 5px 10px; /*top, right, bottom, left*/
	color:#333;
	}

/*Her starter image thumbnails styles til galleri siderne*/	
.txt-box-bild{
	border-radius:10px; 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	}	

/*Billed Link styles til galleri siderne*/	
a.bild-link{
	max-width:200px;
	max-height:300px;
	float:left;
	margin:10px 10px 50px 10px; /*top, right, bottom, left*/
	padding:8px;
	background-color:#009de0;
	border-radius:10px; 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	border-right-width:2px;
	border-right-style:solid;
	border-right-color:#000;
	border-bottom-width:2px;
	border-bottom-style:solid;
	border-bottom-color:#000;
	}	

/*Billed Link mouse over styles til galleri siderne*/		
a.bild-link:hover{
	max-width:200px;
	max-height:300px;
	float:left;
	margin:8px 10px 50px 8px; /*top, right, bottom, left*/
	padding:8px;
	background-color:#FC9;
	border-radius:10px; 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	border-right-width:2px;
	border-right-style:solid;
	border-right-color:#000;
	border-bottom-width:2px;
	border-bottom-style:solid;
	border-bottom-color:#000;
	border-top-width:2px;
	border-top-style:solid;
	border-top-color:#ffed00;
	border-left-width:2px;
	border-left-style:solid;
	border-left-color:#ffed00;
}

/*Her starter image styles til de store billeder på blandt andet profil siderne*/
.txt-box-bild-wrap {
	max-width:330px;
	float:left;
	border-radius:10px; 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	margin:2px;
	}	

a.bild-wrap-link{
	max-width:335px;
	float:left;
	margin:15px 10px 10px 10px; /*top, right, bottom, left*/
	padding:15px;
	background-color:#009de0;
	border-radius:20px; 
	-moz-border-radius:20px; 
	-webkit-border-radius:20px; 
	border-right-width:2px;
	border-right-style:solid;
	border-right-color:#000;
	border-bottom-width:2px;
	border-bottom-style:solid;
	border-bottom-color:#000;
	}	
	
a.bild-wrap-link:hover{
	max-width:335px;
	float:left;
	margin:13px 10px 10px 8px; /*top, right, bottom, left*/
	padding:15px;
	background-color:#FC9;
	border-radius:20px; 
	-moz-border-radius:20px; 
	-webkit-border-radius:20px; 
	border-right-width:2px;
	border-right-style:solid;
	border-right-color:#000;
	border-bottom-width:2px;
	border-bottom-style:solid;
	border-bottom-color:#000;
	border-top-width:2px;
	border-top-style:solid;
	border-top-color:#ffed00;
	border-left-width:2px;
	border-left-style:solid;
	border-left-color:#ffed00;
}

/*Her starter Textbox styles til hver stor billed siderne*/	
	.txtbox-pic{
	width:350px;
	height:auto;
	min-height:200px;
	background-color:#009de0;
	float:right;
	margin:15px 10px 7px 15px; /*top, right, bottom, left*/
	padding-bottom:7px;
	border-radius:20px; 
	-moz-border-radius:20px; 
	-webkit-border-radius:20px; 
	border-right-width:2px;
	border-right-style:solid;
	border-right-color:#000;
	border-bottom-width:2px;
	border-bottom-style:solid;
	border-bottom-color:#000;
	}
	
/*Headline tag styles*/	
.txtbox-pic h2{
	width:300px;
	height:15px;
	float:left;
	margin:15px 10px 5px 15px; /*top, right, bottom, left*/
	color:#FFF;
	font-size:15px;
	margin-bottom:0px;
	}
	
	/*Paragraph tag styles*/	
.txtbox-pic p{
	float:left;
	margin:5px 10px 5px 15px; /*top, right, bottom, left*/
	color:#FFF;
	}

/*Her starter Txt-box-small = artikkel boxe styles*/
.txt-box-small{
	width:200px;
	height:auto;
	min-height:150px;
	background-color:#009de0;
	float:right;
	margin:10px 10px 30px 15px; /*top, right, bottom, left*/
	padding:0px 0px 10px 0px;
	border-radius:20px; 
	-moz-border-radius:20px; 
	-webkit-border-radius:20px; 
	border-right-width:2px;
	border-right-style:solid;
	border-right-color:#000;
	border-bottom-width:2px;
	border-bottom-style:solid;
	border-bottom-color:#000;
	}
	
/*Her starter overskrift styles i txt-box-small*/
.txt-box-small h2{
	float:left;
	margin:15px 10px 5px 15px; /*top, right, bottom, left*/
	color:#FFF;
	font-size:15px;
	}
	
/*Her starter paragraph styles i txt-box-small*/
.txt-box-small p{
	float:left;
	margin:5px 10px 5px 15px; /*top, right, bottom, left*/
	color:#FFF;
	}

/*Links til sprog valg på profil sider*/
a.outlink{
	line-height:20px;
	margin:0px 5px 5px 12px; /*top, right, bottom, left*/
	color:#fff;
	text-decoration:none;
	display:block;
	float:left;
	}
	
a.outlink:hover{
	line-height:20px;
	margin:0px 5px 5px 12px; /*top, right, bottom, left*/
	color:#FC9;
	text-decoration:none;
	display:block;
	float:left;	
	}
	
/*Her starter Sidens bottom - footer styles*/
#bottom{
	/*width:800px;*/
	width: 80%;
	height:30px;
	float:left;
	margin:20px 10% 0px 10%; /*top, right, bottom, left*/
	color:#FFF;
	}						
	
/****** Store bild-links til forside og lignende starter her ******/
/*Bild-link ink start*/
a.bild-link-ink{
	width:210px;
	height:210px;
	float:left;
	margin:15px;
	border-radius:25px; 
	-moz-border-radius:25px; 
	-webkit-border-radius:25px; 
	background-image:url(grafik/buttons/ink.png);
}

a.bild-link-ink:hover{
	width:210px;
	height:210px;
	float:left;
	margin:15px;
	border-radius:25px; 
	-moz-border-radius:25px; 
	-webkit-border-radius:25px; 
	background-image:url(grafik/buttons/ink_text.png);
	}

/*Bild-link col start*/
a.bild-link-col{
	width:210px;
	height:210px;
	float:left;
	margin:15px;
	border-radius:25px; 
	-moz-border-radius:25px; 
	-webkit-border-radius:25px; 
	background-image:url(grafik/buttons/color.png);
}

a.bild-link-col:hover{
	width:210px;
	height:210px;
	float:left;
	margin:15px;
	border-radius:25px; 
	-moz-border-radius:25px; 
	-webkit-border-radius:25px; 
	background-image:url(grafik/buttons/color_text.png);
	}

/*Bild-link deg start*/
a.bild-link-deg{
	width:210px;
	height:210px;
	float:left;
	margin:15px;
	border-radius:25px; 
	-moz-border-radius:25px; 
	-webkit-border-radius:25px; 
	background-image:url(grafik/buttons/degital.png);
}

a.bild-link-deg:hover{
	width:210px;
	height:210px;
	float:left;
	margin:15px;
	border-radius:25px; 
	-moz-border-radius:25px; 
	-webkit-border-radius:25px; 
	background-image:url(grafik/buttons/degital_text.png);
	}
	
/*Bild-link pen start*/
a.bild-link-pen{
	width:210px;
	height:210px;
	float:left;
	margin:15px;
	border-radius:25px; 
	-moz-border-radius:25px; 
	-webkit-border-radius:25px; 
	background-image:url(grafik/buttons/pencil.png);
}

a.bild-link-pen:hover{
	width:210px;
	height:210px;
	float:left;
	margin:15px;
	border-radius:25px; 
	-moz-border-radius:25px; 
	-webkit-border-radius:25px; 
	background-image:url(grafik/buttons/pencil_text.png);
	}

/*Bild-link pro start*/
a.bild-link-pro{
	width:210px;
	height:210px;
	float:left;
	margin:15px;	
	border-radius:25px; 
	-moz-border-radius:25px; 
	-webkit-border-radius:25px; 
	background-image:url(grafik/buttons/profil.png);
}

a.bild-link-pro:hover{
	width:210px;
	height:210px;
	float:left;
	margin:15px;
	border-radius:25px; 
	-moz-border-radius:25px; 
	-webkit-border-radius:25px; 
	background-image:url(grafik/buttons/profil_text.png);
	}
	
/*Bild-link art start*/
a.bild-link-art{
	width:210px;
	height:210px;
	float:left;
	margin:15px;
	border-radius:25px; 
	-moz-border-radius:25px; 
	-webkit-border-radius:25px; 
	background-image:url(grafik/buttons/art.png);
}

a.bild-link-art:hover{
	width:210px;
	height:210px;
	float:left;
	margin:15px;
	border-radius:25px; 
	-moz-border-radius:25px; 
	-webkit-border-radius:25px; 
	background-image:url(grafik/buttons/art_text.png);
	}
	
/*Bild-link cases start*/
a.bild-link-cases{
	width:210px;
	height:210px;
	float:left;
	margin:15px;
	border-radius:25px; 
	-moz-border-radius:25px; 
	-webkit-border-radius:25px; 
	background-image:url(grafik/buttons/cases.png);
}

a.bild-link-cases:hover{
	width:210px;
	height:210px;
	float:left;
	margin:15px;
	border-radius:25px; 
	-moz-border-radius:25px; 
	-webkit-border-radius:25px; 
	background-image:url(grafik/buttons/cases_text.png);
	}
	
/*Bild-link folds start*/
a.bild-link-folds{
	width:210px;
	height:210px;
	float:left;
	margin:15px;
	border-radius:25px; 
	-moz-border-radius:25px; 
	-webkit-border-radius:25px; 
	background-image:url(grafik/buttons/folds.png);
}

a.bild-link-folds:hover{
	width:210px;
	height:210px;
	float:left;
	margin:15px;
	border-radius:25px; 
	-moz-border-radius:25px; 
	-webkit-border-radius:25px; 
	background-image:url(grafik/buttons/folds_text.png);
	}

	.txt-box-2{
		width:100%;
		min-height:400px;
		padding: 0px 0px 20px 20px; /*top, right, bottom, left*/
		float:left;
		border-radius:20px; 
		-moz-border-radius:20px; 
		-webkit-border-radius:20px; 
		border-right-width:2px;
		border-right-style:solid;
		border-right-color:#333;
		border-bottom-width:2px;
		border-bottom-style:solid;
		border-bottom-color:#333;
		background-color: #009de0;
		}


/****************Lightbox test*******************/
	.row > .column {
		padding: 0 8px;
	  }
	  
	  .row:after {
		content: "";
		display: table;
		clear: both;
	  }
	  
	  /* Create four equal columns that floats next to eachother */
	  .column {
		float: left;
		/*width: 25%;*/
	  }
	  
	  /* The Modal (background) */
	  .modal {
		display: none;
		position: fixed;
		z-index: 1;
		padding-top: 10px;
		left: 0;
		top: 0;
		width: 80%;
		height: auto;
		overflow: auto;
		background-color: black;
		margin-right: 10%;
		margin-left: 10%;
	  }
	  
	  /* Modal Content */
	  .modal-content {
		position: relative;	
		margin: 5%;
		width: 80%;
		padding: 0;
		width: auto;
		
	  }
	  
	  /* The Close Button */
	  .close {
		color: white;
		position: absolute;
		top: 10px;
		right: 25px;
		font-size: 35px;
		font-weight: bold;
	  }
	  
	  .close:hover,
	  .close:focus {
		color: #999;
		text-decoration: none;
		cursor: pointer;
	  }
	  
	  /* Hide the slides by default */
	  .mySlides {
		display: none;
	  }
	  
	  /* Next & previous buttons */
	  .prev,
	  .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -50px;
		color: white;
		font-weight: bold;
		font-size: 20px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
		-webkit-user-select: none;
	  }
	  
	  /* Position the "next button" to the right */
	  .next {
		right: 0;
		border-radius: 3px 0 0 3px;
	  }
	  
	  /* On hover, add a black background color with a little bit see-through */
	  .prev:hover,
	  .next:hover {
		background-color: rgba(0, 0, 0, 0.8);
	  }
	  
	  /* Number text (1/3 etc) */
	  .numbertext {
		color: #f2f2f2;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	  }
	  
	  /* Caption text */
	  .caption-container {
		text-align: center;
		background-color: black;
		padding: 2px 16px;
		color: white;
	  }
	  
	  img.hover-shadow {
		float: left;
		transition: 0.3s;
		border-radius:10px; 
		-moz-border-radius:10px; 
		-webkit-border-radius:10px;
		margin: 10px;
		padding: 10px;
	  }
	  
	  .hover-shadow:hover {
		background-color: #009de0;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin: 10px;
		padding: 10px;
	  }

/****** Grid eksempel ******/
	.item1 { 
		grid-area: header;
		grid-column-end: 1 / span 4; 
	}
	.item2 { 
		grid-area: menu;
		grid-row-end: 2 / span 3;
	}
	.item3 { grid-area: left;}
	.item4 { grid-area: main; }
	.item5 { grid-area: right; }
	.item6 { 
		grid-area: footer; 
		grid-column-end: 2 / span 3;
	}

	.grid-container {
	display: grid;
	grid-template:
		'header header header header header header header header'
		'menu left left main main main right right'
		'menu footer footer footer footer footer footer footer';
	grid-gap: 10px;
	background-color: #009de0;
	padding: 10px;
	}

	.grid-container > div {
	background-color: #175772;
	/*background-color: rgba(255, 255, 255, 0.8);*/
	text-align: center;
	padding: 20px 0;
	font-size: 30px; 
	}

	.item3 p{
		float:left;
		font-size: 20px;
		line-height: normal;
		color:#FFF;
		margin: 2px;
		}

	.item4 p{
		float:left;
		font-size: 20px;
		line-height: normal;
		color:#FFF;
		margin: 2px;
		}
		
	.item5 p{
		float:left;
		font-size: 20px;
		line-height: normal;
		color:#FFF;
		margin: 2px;
		}